<%= javascript_include_tag "ajax_scripts" %>
<div class="container" style="padding-top:100px;padding-bottom:10px">

  <div class="row">
    <div class="col-sm-3">
      <img src=<%= @user.profile_pic.url %> class="img-rounded" alt="Cinque Terre" width="240" height="220">
    </div>
    <div class="col-sm-7">
      <h3><%= @user.name %></h3>
      <% @user.tags.each do |x| %>
        <span class="label label-info"><%= x.tag %></span>
      <% end %>
       <div class="row" style="padding-top:20px;padding-left:15px"> 
        <% if @user.id != session[:user_id] %>
          <% if @user.is_blocked %>
          <button type="submit" class="btn btn-primary" onclick="unblock(<%= @user.id %>)" id="unblock">Unblock user</button>
          <% else %>
          <button type="submit" class="btn btn-primary" onclick="block(<%= @user.id %>)" id="block">Block user</button>   
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </br>

  <div class="panel panel-info">
    <div class="panel-heading">User created events</div>
           
      <% @events.each do |x| %>
      <% stats = @user.get_user_invitation_stats(x) %>
      <a href="/event/user/?event_id=<%= x.id %>" class="list-group-item ">
        <h4 class="list-group-item-heading"><%= x.title %></h4>
        <p class="list-group-item-text">Number of users invited:<%= stats[0] %></p>
        <p class="list-group-item-text">Number of users responded:<%= stats[1] %></p>
      </a>
      <% end.empty? and begin %>
      <h5 class="list-group-item-heading">No events available</h5>
      <% end %>
    
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">User attending events</div>
               
      <% @attending_events.each do |x| %>
        <a href="/event/user/?event_id=<%= x[0].id %>" class="list-group-item ">
        <h4 class="list-group-item-heading"><%= x[0].title %></h4>
        <p class="list-group-item-text"><%= x[0].address %></p> </a>
      <% end.empty? and begin %>
        <h5 class="list-group-item-heading">No events available</h5>
      <% end %>
    
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">User invited for events</div>
               
      <% @invited_for_events.each do |x| %>
        <a href="/event/user/?event_id=<%= x[0].id %>" class="list-group-item ">
        <h4 class="list-group-item-heading"><%= x[0].title %></h4>
        <p class="list-group-item-text"><%= x[0].address %></p></a>
      <% end.empty? and begin %>
        <h5 class="list-group-item-heading">No events available</h5>
      <% end %>
    
  </div>


</div>