<%= javascript_include_tag "ajax_scripts" %>
<div class="container" style="padding-top:100px;padding-bottom:10px">
  <div class="row" style="padding-bottom:20px">
    <div class="col-sm-3">
      <img src=<%= @user.profile_pic.url %> class="img-rounded" alt="Cinque Terre" width="240" height="220">
    </div>
    <div class="col-sm-7">
      <h1><%= @user.name %></h1>
  
      <% @user.tags.each do |x| %>
        <span class="label label-info"><%= x.tag %></span>
      <% end %>
   
      <div class="row" style="padding-top:10px;padding-left:15px"> 
        <% if @user.id != current_user.id %>
          <% if @friend_status == "friends" %>
            <h3><span class="label label-default">Friends</span></h3>
          <% elsif @friend_status == "pending" %>
            <h3><span class="label label-default">Friend request sent</span></h3>
          <% elsif @friend_status == "rejected" %>
            <h3><span class="label label-default">You are not allowed to send friend request</span></h3>
          <% elsif @friend_status == "request_sent" %>
            <button type="submit" class="btn btn-primary" onclick="accept_request(<%= @user.id %>,<%= current_user.id %>)" id="accept_request<%= @user.id %>">Accept friend request</button>
          <% elsif @friend_status == "not_logged_in" %>

          <% else %>
            <button type="submit" class="btn btn-primary" onclick="friend_request(<%= current_user.id %>,<%= @user.id %>)" id="send_request">Send friend request</button>
          <% end %>
        <% end %>
      </div>  

    </div>
  </div>



  <div class="panel panel-info">
    <div class="panel-heading">User created events</div>
                 
      <% @events.each do |x| %>
        <a href="/event/user/?event_id=<%= x.id %>" class="list-group-item ">
          <h4 class="list-group-item-heading"><%= x.title %></h4>
          <p class="list-group-item-text"><%= x.address %></p>
        </a>
      <% end.empty? and begin %>
        <div class="panel-body">
          <h5 class="list-group-item-heading">No events availabel</h5>
        </div>
      <% end %>

  </div>

  <div class="panel panel-info">
    <div class="panel-heading">Friends</div>
                 
      <% @user_friend_list.each do |x| %>
        <a href="/user/info/?user_id=<%= x %>" class="list-group-item ">
          <h4 class="list-group-item-heading"><%= User.find(x).name %></h4>
        </a>
      <% end.empty? and begin %>
        <div class="panel-body">
          <h5 class="list-group-item-heading">User has no friends</h5>
        </div>
      <% end %>

  </div>
