 <div class="row">
   <div class="page-header">
    <h3>Event invitations</h3>
   </div> 
   
   <% events_list.each do |x| %>

   
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail" style="height:500px">
      <img src=<%= x[0].first_pic_file_name.nil? ? "/images/original/missing.png" : x[0].first_pic.url(:medium) %> alt="..." style="width: 340px; height: 240px">
      <div class="caption">
        <h4><a href="/event/info/?event_id=<%= x[0].id %>" ><%= x[0].title %></a></h4>
        <p><b>Address:</b><%= x[0].address%></p>
        <p><b>Starts on:</b><%= x[0].start_time.to_formatted_s(:long_ordinal) %></p>
        <p><b>Ends on:</b><%= x[0].end_time.to_formatted_s(:long_ordinal) %></p>
        <p><b>Invited by:</b> <%= x[1].name %> </p>
        <button type="submit" class="btn btn-success" onclick="accept_invite(<%= x[0].id %>)" id="accept_invite<%= x[0].id %>">Accept</button>
        <button type="submit" class="btn btn-warning" onclick="maybe_invite(<%= x[0].id %>)" id="maybe_invite<%= x[0].id %>">Maybe</button>
        <button type="submit" class="btn btn-danger" onclick="reject_invite(<%= x[0].id %>)" id="reject_invite<%= x[0].id %>"> Reject</button>       
        </div>
      </div>
    </div>
    


    <% end.empty? and begin %>
    <div class="col-sm-12">
      <p>No pending invitations</p>
    </div>
    <% end %>
  </div>
